.btnCover {
  background-color: #ffc5c5 !important;
  border-radius: 25px;
}
.input {
  font-family: "Poppins", sans-serif;
}
.logo {
  color: #fff !important;
}
.mainlogo {
  width: 10vh !important;
}
.navbarBg {
  background-color: #fd4040;
}
.navItemContainer {
  background-color: whitesmoke;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.search {
  border-radius: 25px;
}
.cartBadge {
  font-size: 15px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 0%) !important;
  color: rgb(255, 255, 255);
  margin-left: -1vh;
  margin-top: -1vh;
}
