.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url("https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  margin-right: 5px;
}
.avatarContainer {
  display: flex;
  align-items: center;
}
.backgroundContainer {
  color: white;
  border-radius: 5px;
  overflow: hidden;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 5px;
  min-height: 50vh;
}
@media (max-width: 450px) {
  .backgroundContainer {
    min-height: 15vh;
  }
}
@media (min-width: 1450px) {
  .backgroundContainer {
    min-height: 75vh;
  }
}
.backgroundCover {
  color: white;
  border-radius: 5px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5px;
}
.overlay {
  background-color: rgba(56, 56, 56, 0.404);
  backdrop-filter: blur(1px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonialText {
  width: 80%;
  height: 100%;
  background-color: rgba(255, 120, 120, 0.623);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  padding: 20px;
}

.testimonialText p {
  font-family: "Poppins", sans-serif;
}
