.card {
  min-height: 30vh;
  background-color: rgb(251, 251, 251);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.cardImage {
  min-height: 25vh;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
}
.cardText h6 {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 320px) {
  .cardImage {
    min-height: 16vh;
  }
  .card {
    min-height: 21vh;
  }
}
@media (max-width: 375px) and (min-width: 330px) {
  .cardImage {
    min-height: 19vh;
  }
  .card {
    min-height: 24vh;
  }
}
@media (max-width: 500px) and (min-width: 376px) {
  .cardImage {
    min-height: 23vh;
  }
}
@media (max-width: 770px) and (min-width: 500px) {
  .cardImage {
    min-height: 25vh;
  }
  .card {
    min-height: 35vh;
  }
}
@media (max-width: 1020px) and (min-width: 700px) {
  .cardImage {
    min-height: 20vh;
  }
  .card {
    min-height: 35vh;
  }
}

@media (max-width: 1450px) and (min-width: 1020px) {
  .cardImage {
    min-height: 28vh;
  }
  .card {
    min-height: 40vh;
  }
}

@media (min-width: 1450px) {
  .cardImage {
    min-height: 41vh;
  }
}
/* Card Rectangle  */
.cardRect {
  min-height: 10vh;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.cardRectImage {
  min-height: 10vh;
  background-color: whitesmoke;
  background-size: contain;
  border-radius: 5px;
  background-repeat: no-repeat;
}
.cardRecatText {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;

  min-height: 10vh;
}
.cardRecatText h6 {
  font-family: Bungee, sans-serif !important;
}

.cardRecatText span {
  font-family: "Poppins", sans-serif !important;
}
