.details_container {
  padding-top: 5vh;
}
.details_container h6 {
  font-family: "Poppins", sans-serif;
}
.details_container h5 {
  font-family: Bungee, sans-serif;
}
.details_container p {
  font-family: "Poppins", sans-serif;
}
.details_table {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
.product_detail_image {
  min-height: 25vh;
  min-width: none;
  border-radius: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}
